ul {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    display: block;
    color: white;
    padding: 14px 30px;
    text-decoration: none; 
}

li a:hover{
    background-color: #111;
}

body {
    margin: 0;
    background-image: url("bgimg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

h1.main {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    margin-top: 500px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 8px;
}

p.main {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    margin: 50px;
}